$background-color: blue;

.cell {
  height: 60px;
  width: 60px;
}

.empty {
  cursor: pointer;
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 59%,
    $background-color 60%, 
  $background-color 100%);
}

.redDisc {
  background: radial-gradient(
    ellipse at center, 
  red 0%, 
  red 59%, 
 $background-color 60%, 
  $background-color 100%);
}

.yellowDisc {
  background: radial-gradient(
    ellipse at center, 
  yellow 0%, 
  yellow 59%, 
 $background-color 60%, 
  $background-color 100%);
}